
    
<h1 [ngClass]="{savable:this.isSavable, openable:this.isOpenable}">Testing the Applicatiooon</h1>
<!--<kendo [mandatoryConfig]="
{
    urlPrefix:'http://db.newbiz.it:8080/customerList',
    urlParams:'',
    'fields':
        {
            'companyid':
                {
                    'type':'number'
                },
            'name':
                {
                    'type':'string'
                }
        },
     'columns':
        [
            {
                'field':'name',
                'title':'Company Name',
                'width':240
            },
            {
                'field':'companyid',
                'title':'Company Id'
            }
        ]
}">-->
</kendo>

